{% load static%}
<!DOCTYPE html>
<html lang="esn">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
    <link rel="stylesheet" src="{% static 'core/css/style.css'%}">
    <title>Game on Categoria RPG</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="{% static 'core/js/jquery.js'%}"></script>
</head>

<!--BOTÓN PARA ACCEDER AL REGISTRO-->
<body id="fondo" background="{% static 'core/img/background.png'%}">
    <div class="login-container" style="position: absolute; right: 3rem; top: 1rem; z-index: 999;">
      <form class="d-flex" role="search" onsubmit="openRegistro(event)">
        <button class="btn btn-outline-primary" type="submit">Acceder o Registrarse</button>
      </form>
    </div>
  
    <!-- SCRIPT PARA ABRIR FORMULARIO DE REGISTRO EN OTRA PESTAÑA-->
    <script>
      function openRegistro(event) {
        event.preventDefault(); // Evita que el formulario se envíe
        window.open('registro.html', '_blank'); // Abre la página en una nueva pestaña
      }
    </script>
  
    <br>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
          <strong>Game On</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categorías
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="accion.html">Acción</a></li>
                <li><a class="dropdown-item" href="familiar.html">Familiar</a></li>
                <li><a class="dropdown-item" href="deportes.html">Deportes</a></li>
                <li><a class="dropdown-item" href="horror.html">Horror</a></li>
                <li><a class="dropdown-item" href="rpg1.html">RPG</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:contacto@gmail.com">Contacto</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Busca tu juego" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav>
    <br>
    <div class="row">
        <div class="col-12">
          <div class="card">
            <img src="{% static 'core/img/banner.png'%}" class="card-img" alt="banner">
          </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Imagen a la izquierda -->
                <img src="{% static 'core/img/call-of-duty.png'%}" width="100%" alt="Call of Duty: BLACK OPS COLD WAR">
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <!-- Título, descripción, precio y botón de agregar al carrito a la derecha -->
                <h1 id="titulo-juego">Call Of Duty: BLACK OPS COLD WAR</h1>
                <p>¡Descubre la adrenalina de Call of Duty por solo $49.990!
                    Sumérgete en la acción con este legendario videojuego de disparos en primera persona.
                    ¡Prepárate para batallas épicas, gráficos impresionantes y modos de juego que te mantendrán al borde de tu asiento!
                    Call of Duty te sumerge en un conflicto global 
                    de alto riesgo ambientado en la década de 1980. Con gráficos impresionantes y una narrativa 
                    absorbente, el juego ofrece una experiencia de acción y estrategia sin igual.
                </p>
                <h3>Precio: $49.990</h3>
                <button class="btn btn-primary btn-lg mt-4">Agregar al Carrito</button>
            </div>
        </div>
    </div>
    <br>
    <div class="image-gallery">
    <img src="{% static 'core/img/COD1.png'%}" alt="COD 1">
    <img src="{% static 'core/img/COD2.png'%}" alt="COD 2">
    <img src="{% static 'core/img/COD3.png'%}" alt="COD 3">
    <img src="{% static 'core/img/COD4.png'%}" alt="COD 4">
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>
<footer class="footer fixed-bottom">
    <p>
      <center> Diseñado por Grupo 2 - Programación Web - Copyright 2024©</center>
    </p>
  </footer>
</html>

